<div *ngIf="!isHide" class="component" [ngClass]="{'is-grab': !isLock}"
  [style.width.px]="width * gridSize" [style.height.px]="height * gridSize"
  appMovable [movable.option]="movableOption" [movable.disable]="isLock" (movable.ondragstart)="onMove()" (movable.ondragend)="onMoved()">
  <div *ngIf="imageFile.url.length < 1; then blackMask; else imageMask"></div>
  <ng-template #blackMask>
    <div [ngClass]="{'border': maskborder, 'is-fit-full': true}" [style.background-color]="'rgba(10, 10, 10,' + opacity * (isGM && gameTableMask.isTransparentOnGMMode ? 0.6 : 1) +')'"></div>
  </ng-template>
  <ng-template #imageMask>
    <div [ngClass]="{'border': maskborder, 'is-fit-full': true}">
      <img class="image is-fit-full" [style.opacity]="opacity * (isGM && gameTableMask.isTransparentOnGMMode ? 0.6 : 1)" [src]="imageFile.url | safe: 'resourceUrl'">
    </div>
  </ng-template>
  <div *ngIf="isLock" class="lock-icon is-center">
    <i class="material-icons">lock</i>
  </div>
  <div *ngIf="isSelected" class="selected-highlight border" [ngClass]="{'is-magnetic': isMagnetic}"></div>
</div>
