.isSkill {
  background-color: black;
  color: white;
}
.isCuriosity {
  background-color: black;
  color: white;
}

.pointer {
  cursor: pointer;
}

.highlightedheader {
  background-color: black;
  color: white;
}

.highlightedskills {
  background-color: black;
  color: white;
}

.highlightedskills::after {
  content: 'skip';
  color: black;
}

.bold-text {
  font-weight: bold;
}
