<div>
  @for(audio of audios; track $index){
    <div class="box">
      <button (click)="selectBgm(audio)"  >登録</button>
      @if(audio !== auditionPlayer?.audio || auditionPlayer?.paused){
        <button (click)="play(audio)" [disabled]="!audio.isReady" >試聴/再生</button>
      }
      @if(audio === auditionPlayer?.audio && !auditionPlayer?.paused){
        <button (click)="stop()" [disabled]="!audio.isReady" >試聴/停止</button>
      }
      @if(audio === auditionPlayer?.audio && !auditionPlayer?.paused){
        <span>【試聴中】</span>
      }
      <span>{{audio.name}}</span>
    </div>
  }
  @if(audios.length < 1){
    <div>音楽がアップロードされていません。</div>
  }
</div>
