<button (click)="toggleEditMode()">編集切り替え</button>
<ng-container [ngSwitch]="tabletopObject.aliasName">
  <ng-container *ngSwitchCase="'numberResource'">
  </ng-container>
  <ng-container *ngSwitchCase="'card'">
    <button (click)="openModal('front')">表面の画像を変更</button>
    <button (click)="openModal('back')">裏面の画像を変更</button>
  </ng-container>
  <ng-container *ngSwitchCase="'card-stack'">
  </ng-container>
  <ng-container *ngSwitchCase="'terrain'">
    <button (click)="openModal('floor')">床の画像を変更</button>
    <button (click)="openModal('wall')">壁の画像を変更</button>
  </ng-container>
  <ng-container *ngSwitchCase="'dice-symbol'">
    <button (click)="openModal(tabletopObject['face'])" [disabled]="!tabletopObject['isVisible']">ダイス目の画像を変更</button>
  </ng-container>
  <ng-container *ngSwitchDefault>
    <button (click)="openModal('imageIdentifier', true)">画像変更</button>
  </ng-container>
</ng-container>
<button (click)="clone()">コピーを作る</button>
<button [disabled]="isSaveing" (click)="saveToXML()">
  <div style="position: relative;">
    <div [ngClass]="{'is-hidden': isSaveing}">保存</div>
    <div *ngIf="isSaveing" class="progress">{{progresPercent}}%</div>
  </div>
</button>
<ng-container *ngIf="tabletopObject.aliasName === 'character'">
  <select *ngIf="tabletopObject" (change)="setLocation($event.target.value)" [ngModel]="tabletopObject.location.name">
    <option value="table">テーブル</option>
    <option value="common">共有インベントリ</option>
    <option value="{{networkService.peerId}}">個人インベントリ</option>
    <option value="graveyard">墓地</option>
  </select>
  <label for="isHideCheck" style="user-select: none;">　GMにのみパネルを表示する</label>
  <input type="checkbox" [(ngModel)]="tabletopObject.isHide" id="isHideCheck"/>
  <div class="extra-setting" style="width:50%;display:table-cell;">
    <label for="specifyKomaImageFlag" style="user-select: none;">コマ画像の高さを指定</label>
    <input type="checkbox" id="specifyKomaImageFlag" [(ngModel)]="tabletopObject.specifyKomaImageFlag" name="specifyKomaImageFlag" (click)="clickImageFlag()">
    <input type="range" [style]="'font-size: 0.8em; min-width: 1em; width:' + (10) + 'em; --min: 0; --max: ' + 0 + '; --val:' + 1 +';' | safe: 'style'" min="50" max="750" [(ngModel)]="tabletopObject.komaImageHeignt"  [disabled]="!tabletopObject.specifyKomaImageFlag"/>
    <input class="is-caret" [(ngModel)]="tabletopObject.komaImageHeignt"  [disabled]="!tabletopObject.specifyKomaImageFlag" type="number" style="width:12em;" min="50" max="750" name="popWidth" (change)="chkKomaSize($event.target.value)" style="color: #555;"/>
  </div>
</ng-container>

<div *ngIf="tabletopObject" class="flex-container">
  <div @bounceInOut *ngIf="0 < tabletopObject.imageFile?.url.length" class="box main-image-box">
    <span style="display: inline-block;" class="inverser" [ngClass]="{inverse: tabletopObject.isInverse}">
      <span class="aura" [ngClass]="{black: tabletopObject.aura == 0, blue: tabletopObject.aura == 1, green: tabletopObject.aura == 2, cyan: tabletopObject.aura == 3, red: tabletopObject.aura == 4, magenta: tabletopObject.aura == 5, yellow: tabletopObject.aura == 6, white: tabletopObject.aura == 7}">
        <img class="main-image" [src]="tabletopObject.imageFile.url | safe: 'resourceUrl'" [alt]="tabletopObject.imageFile.name"
          [ngClass]="{'black-paint': tabletopObject.isBlackPaint, 'hollow': tabletopObject.isHollow}"
          (dblclick)="openMainImageModal()"
          [@switchImage]="tabletopObject.currntImageIndex" />
        <p style="font-size: 15px;">画像をダブルクリックで変更</p>
      </span>
    </span>
  </div>
  <ng-container *ngIf="tabletopObject.commonDataElement">
    <div class="flex-item">
      <div class="table">
        <div class="table-row" game-data-element [gameDataElement]="tabletopObject.commonDataElement" [isTagLocked]="true"></div>
      </div>
    </div>
  </ng-container>

  <ng-container *ngIf="tabletopObject.detailDataElement">
    <div class="flex-item" *ngFor="let childElement of tabletopObject.detailDataElement.children">
      <div class="table">
        <div class="table-row" game-data-element [gameDataElement]="childElement" [isEdit]="isEdit"></div>
      </div>
    </div>
  </ng-container>

  <ng-container [ngSwitch]="tabletopObject.aliasName">
    <ng-container *ngSwitchCase="'numberResource'">
    </ng-container>
    <ng-container *ngSwitchCase="'card'">
    </ng-container>
    <ng-container *ngSwitchCase="'card-stack'">
    </ng-container>
    <ng-container *ngSwitchCase="'terrain'">
    </ng-container>
    <ng-container *ngSwitchCase="'dice-symbol'">
    </ng-container>
    <ng-container *ngSwitchCase="'table-scratch-mask'">
    </ng-container>
    <ng-container *ngSwitchDefault>

      <ng-container *ngIf="tabletopObject.imageDataElement">
        <div class="flex-item">
          <div class="table">
            <div class="table-row" game-data-element [gameDataElement]="tabletopObject.imageDataElement" [isTagLocked]="true" [isEdit]="isEdit" [isImage]="true"></div>
          </div>
        </div>
      </ng-container>

    </ng-container>
  </ng-container>


  <ng-container *ngIf="isEdit">
    <div class="flex-item">
      <button style="width:100%; color: #555;" (click)="addDataElement()">新しい項目を追加</button>
    </div>
  </ng-container>
</div>
