<div class="table" [ngClass]="{ 'direct-message': isDirect }">
  <div class="table-cell imagebox">
    @if(0 < imageFile.url.length){
      <img class="image" [src]="imageFile.url | safe: 'resourceUrl'" />
    }
  </div>
  <div class="table-cell">
    <div>
      <ng-select class="ud-select is-caret" style="width: 12em;" [(ngModel)]="sendFrom" [clearable]="false">
        @if(!onlyCharacters){
          <ng-option [value]="myPeer?.identifier">{{myPeer?.name}}（あなた）</ng-option>
        }
        @for(gameCharacter of gameCharacters; track $index){
          <ng-option [value]="gameCharacter.identifier">{{gameCharacter.name}}</ng-option>
        }
      </ng-select> ＞
      <ng-select class="ud-select is-caret" style="width: 10em;" [(ngModel)]="sendTo" [clearable]="false">
        <ng-option [value]="''">全員</ng-option>
        @for(peer of otherPeers; track $index){
          <ng-option [value]="peer.identifier">{{peer.name}}
            <ng-container *ngIf="peer === myPeer">（あなた）</ng-container>
          </ng-option>
        }
      </ng-select>
      <ng-select class="ud-select is-caret" style="width: 15em; margin-left:.1em;" (change)="loadDiceBot($event)" [(ngModel)]="gameType"
        [ngModelOptions]="{standalone: true}" [clearable]="false">
        @for(diceBotInfo of diceBotInfos; track $index){
          <ng-option [value]="diceBotInfo.id">{{diceBotInfo.name}}</ng-option>
        }
      </ng-select>
      @if(diceBotInfos.length < 1){
        <ng-container>
          <select style="width: 12em;" disabled>
            <option value="">ダイスボット読込中...</option>
          </select>
        </ng-container>
      }
      <button (click)="showDicebotHelp()" [disabled]="diceBotInfos.length < 1">?</button>
    </div>
    <div>
      <form>
        <textarea class="chat-input" placeholder="Enter:送信 Shift+Enter:改行 Ctrl+上下:履歴 Ctrl+左右:タブ切替" [(ngModel)]="text"
          [ngModelOptions]="{standalone: true}" (input)="onInput()" (keydown.enter)="sendChat($event)" (focus)="isFilterTextUpdate = true" (blur)="isFilterTextUpdate = false"
          (keydown.control.arrowup)="moveHistory($event, -1)" (keydown.control.arrowdown)="moveHistory($event, 1)"
          (keydown.control.arrowleft)="tabSwitchAction($event, -1)" (keydown.control.arrowright)="tabSwitchAction($event, 1)"
          #textArea></textarea>
      </form>
    </div>
    <div class="writing-info">
      @if(0 < writingPeerNames.length){
        <ng-container>
          @for(peerName of writingPeerNames; track $index){
            <span style="font-weight: bold;">{{peerName}}
              @if(writingPeerNames.length !== ($index + 1)){
                <span>, </span>
              }
            </span>
            <span> が入力中...</span>
          }
        </ng-container>
      }
    </div>
  </div>
</div>
