:host {
  display: block;
}

.large-font {
  font-size: 64px;
}

.small-font {
  font-size: 12px;
}

.backimage {
  width: 100px;
}

.frontimage {
  width: 100px;
}

/* class="card-image backimage"とclass="card-image frontimage"とclass="card-ishide"を横並びに */
.card-image {
  display: inline-block;
}

.card-name input {
  background: none;
  border: none;
  border-radius: 2px;
  outline: none;

  color: #444;
  font-family: Cambria, Georgia;
  font-size: 1.0em;
  padding: 2px;
  box-sizing: border-box;
}

.card-name input:hover, textarea:hover, select:hover {
  background: #EEE;
}

.card-name :focus, textarea:focus, select:focus {
  background: #EEE;
}
