<div class="log" [style.minHeight.px]="minScrollHeight" #logContainer>
  <div class="virtual-scroll-container" [style.marginBottom.px]="bottomSpace" #messageContainer>
    @if(0 < chatMessages.length){
      <ng-container>
        @for(chatMessage of chatMessages; track trackByChatMessage){
          <ng-container>
            @if(chatMessage.isDisplayable){
              <chat-message [chatMessage]="chatMessage"></chat-message>
            }
          </ng-container>
        }
      </ng-container>
    }
    @if(chatMessages.length <= 0){
      <ng-container>
        @for(chatMessage of sampleMessages; track $index){
          <chat-message [chatMessage]="chatMessage"></chat-message>
        }
      </ng-container>
    }
  </div>
</div>
