@if (myPeer) {
  <div style="display: flex; align-items: flex-end;">
    <div *ngIf="myPeer.image" class="image cover" [style.background-image]="'url(' + myPeer.image.url + ')' | safe: 'style' "
      (click)="changeIcon()" style="cursor: pointer">
    </div>
    <div>
      <span>
        <input type="checkbox" [(ngModel)]="isViewer" (change)="output()" id="isViewerCheck" />
        <label for="isViewerCheck">
          GM＆観戦者用モード<br>
        </label>
          ┣非公開カードが透けて見えます。<br>
          ┣その他機能からカード一覧を開けます。<br>
          ┗制限されている機能が解放されます。
      </span>
    </div>
  </div>
  <hr/>
  <span>ニックネーム：<input [(ngModel)]="myPeerName"  placeholder="ニックネーム" /></span>
}
<div>
  <span>あなたのID：<span *ngIf="networkService.isOpen" style="font-weight: bold;">{{networkService.peer.userId}}</span>
  @if (!networkService.isOpen){
    <span *ngIf="!networkService.isOpen" style="font-weight: bold;">???</span>
  }
  @if (networkService.isOpen){
    <button *ngIf="networkService.isOpen" (click)="getUrl()" id="geturlbtn">接続URL取得</button>
  }
  </span>
</div>
@if(isViewer){
  <hr />
  <p class="menu-able-box-description">GM以外の参加者が利用できるメニューパネル</p>
  <div class="menu-able-box">
    <div class="checkbox">
      <input type="checkbox" id="isPeerWindowAble" [(ngModel)]="isPeerWindowAble" />
      <label for="isPeerWindowAble"><i class="material-icons icon-size">people</i>接続情報</label>
    </div>
    <div class="checkbox">
      <input type="checkbox" id="isChatWindowAble" [(ngModel)]="isChatWindowAble" />
      <label for="isChatWindowAble"><i class="material-icons icon-size">speaker_notes</i>チャット画面</label>
    </div>
    <div class="checkbox">
      <input type="checkbox" id="isGameTableSettingAble" [(ngModel)]="isGameTableSettingAble" />
      <label for="isGameTableSettingAble"><i class="material-icons icon-size">layers</i>テーブル設定</label>
    </div>
    <div class="checkbox">
      <input type="checkbox" id="isFileStorageAble" [(ngModel)]="isFileStorageAble" />
      <label for="isFileStorageAble"><i class="material-icons icon-size">photo_library</i>画像</label>
    </div>
    <div class="checkbox">
      <input type="checkbox" id="isJukeboxAble" [(ngModel)]="isJukeboxAble" />
      <label for="isJukeboxAble"><i class="material-icons icon-size">queue_music</i>音楽</label>
    </div>
    <div class="checkbox">
      <input type="checkbox" id="isCutinAble" [(ngModel)]="isCutinAble" />
      <label for="isCutinAble"><i class="material-icons icon-size">movie</i>カットイン</label>
    </div>
    <div class="checkbox">
      <input type="checkbox" id="isGameObjectInventoryAble" [(ngModel)]="isGameObjectInventoryAble" />
      <label for="isGameObjectInventoryAble"><i class="material-icons icon-size">folder_shared</i>インベントリ</label>
    </div>
    <div class="checkbox">
      <input type="checkbox" id="isGamePanelSettingAble" [(ngModel)]="isGamePanelSettingAble" />
      <label for="isGamePanelSettingAble"><i class="material-icons icon-size">picture_as_pdf</i>PDF</label>
    </div>
    <div class="checkbox">
      <input type="checkbox" id="isFileSelectAble" [(ngModel)]="isFileSelectAble" />
      <label for="isFileSelectAble"><i class="material-icons icon-size">open_in_browser</i>ZIP読込</label>
    </div>
    <div class="checkbox">
      <input type="checkbox" id="isFileSaveAble" [(ngModel)]="isFileSaveAble" />
      <label for="isFileSaveAble"><i class="material-icons icon-size">sd_storage</i>保存</label>
    </div>
    <div class="checkbox">
      <input type="checkbox" id="isTimerAble" [(ngModel)]="isTimerAble" />
      <label for="isTimerAble"><i class="material-icons icon-size">access_alarm</i>タイマー</label>
    </div>
  </div>
  <label class="menu-able-box-description">
    初期状態ではネタバレに繋がる恐れのある機能などは非表示になっています。<br>
    [音楽]はGMモード時のみ曲リストが表示され、非GM状態の時は音量調整のみ可能です。
  </label>
}

<!--<div>host ID:{{networkService.hostPeerID}}</div>-->
@if (networkService.peer.isRoom){
  <hr/>
  <div>
    <span>ルーム名：<span *ngIf="networkService.isOpen" style="font-weight: bold;">{{networkService.peer.roomName}}/{{networkService.peer.roomId}}</span></span>
  </div>
  <div *ngIf="networkService.peer.hasPassword">
    <span>パスワード：</span>
    @if (networkService.isOpen){
      <span style="font-weight: bold;">{{isPasswordVisible ? networkService.peer.password : '●●●●●●●●'}}</span>
      <button style="padding: 2px; margin-left: 1.0em; font-size: 1.0em;" (click)="togglePasswordVisibility()">
        <span class="material-icons" style="font-size: 1.0em; vertical-align: text-bottom;">{{isPasswordVisible ? 'visibility' : 'visibility_off'}}</span>
      </button>
    }
  </div>
}
<hr/>
<div *ngFor="let peer of networkService.peers">
  <div class="peer-info">
    <span *ngIf="!peer.isOpen">[接続中]</span>
    <span>他の参加者：{{findUserId(peer.peerId)}} [{{findPeerName(peer.peerId)}}]</span>
    <div class="session-info">
      <span>接続状態
        Grade:{{stringFromSessionGrade(peer.session.grade)}} ({{peer.session.description}})
        Health:{{(peer.session.health * 100).toFixed(0)}}%
        Speed:{{(peer.session.speed * 100).toFixed(0)}}%
        Ping:{{peer.session.ping.toFixed(1)}}ms</span>
    </div>
  </div>
</div>
<div>
  <ng-container *ngIf="!networkService.peer.isRoom">
    <input [(ngModel)]="targetUserId" placeholder="接続したい相手のID" name="targetUserId" />
    <button (click)="connectPeer()" [disabled]="!networkService.isOpen">プライベート接続</button><br>
  </ng-container>
  <button *ngIf="networkService.peers.length < 1" (click)="showLobby()" [disabled]="!networkService.isOpen">ロビー（ルーム一覧）を表示</button>
</div>
<div><span style="font-size: 12px;">{{help}}</span></div>
