<div id="unsplash">
  <input type="text" class="unsplash keywords" [(ngModel)]="searchTerm" list="keywordslist" />
  <input type="submit" class="unsplash search" (click)="search()" value="検索" />
  <datalist id="keywordslist">
    <option value="forest"></option>
    <option value="city"></option>
    <option value="sea"></option>
    <option value="village"></option>
    <option value="cave"></option>
    <option value="mountain"></option>
    <option value="river"></option>
    <option value="room"></option>
  </datalist>
</div>
<hr>
<div class="grid-container">
  <span class="grid-item" *ngFor="let photo of photos" class="image" (dragstart)="onDragStart($event, photo)">
    <img *ngIf="isViewFile(photo)" src="{{ photo.urls.regular }}" alt="{{ photo.alt_description }}" (click)="onClick(photo)">
  </span>
</div>
