<div class="volume-area">
  <div>ALARM音量：<input [(ngModel)]="auditionVolume" type="range" min="0" max="1" step="0.01" />※視聴音量も兼ねています</div>
</div>
<div class="volume-area">
  <div>BGM音量：<input [(ngModel)]="volume" type="range" min="0" max="1" step="0.01" /></div>
</div>
<hr/>
<div class="volume-area">
  <span>SE音量</span>：<input [(ngModel)]="seVolume" type="range" min="0" max="1" step="0.002" />
</div>
<hr/>
<div>全体音量：<input [(ngModel)]="roomVolume" type="range" min="0" max="2" step="0.01" /><font style="font-size: 12px;">※全プレイヤー共通</font></div>
<hr/>
<div>
  <div *ngFor="let audio of audios" class="box">
    <button *ngIf="audio !== auditionPlayer?.audio || auditionPlayer?.paused" (click)="play(audio)" [disabled]="!audio.isReady" >試聴/再生</button>
    <button *ngIf="audio === auditionPlayer?.audio && !auditionPlayer?.paused" (click)="stop()" [disabled]="!audio.isReady" >試聴/停止</button>
    <button *ngIf="audio !== jukebox?.audio" (click)="playBGM(audio)" [disabled]="!audio.isReady" >BGM/再生</button>
    <button *ngIf="audio === jukebox?.audio" (click)="stopBGM(audio)" [disabled]="!audio.isReady" >BGM/停止</button>
    <button *ngIf="audio !== seBox?.audio" (click)="playSE(audio)" [disabled]="!audio.isReady" >SE/再生</button>
    <button *ngIf="audio === seBox?.audio" (click)="stopSE(audio)" [disabled]="!audio.isReady" >SE/停止</button>
    <span *ngIf="audio === auditionPlayer?.audio && !auditionPlayer?.paused">【試聴中】</span>
    <span *ngIf="audio === jukebox?.audio">【BGM】</span>
    <span *ngIf="audio === seBox?.audio">【SE】</span>
    <span>{{audio.name}}</span><br>
  </div>
  <!-- <div *ngIf="audios.length < 1" >アップロードされた音楽ファイルはここに表示されます。</div> -->
</div>

<label>
  <div class="drop-zone">
    <div>
      <i class="material-icons large-font">playlist_add</i>
    </div>
    <div>ここに音楽をドロップ</div>
    <div class="small-font">またはここをクリックして選択</div>
    <input type="file" style="display: none;" (change)="handleFileSelect($event)" multiple accept="audio/*"/>
    <div class="small-font">
      <br>１ファイルにつき10MBまで</div>
  </div>
</label>
<hr/>
<button *ngIf="1" (click)="openCutInList()" [disabled]="0" >カットインリストを開く</button>