:host {
  display: block;
}

.drop-zone {
  border: 2px dashed #555;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  padding: 25px;
  text-align: center;
  font: 24px bold 'Vollkorn';
  color: #444;
  cursor: pointer;
}

.large-font {
  font-size: 64px;
}

.small-font {
  font-size: 12px;
}

.audiolist {
  display: inline-block;
  max-width: 85%;
  border-bottom:1px dotted #888;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.deletebutton {
  /* border-left: 2px solid #000; */
  display: inline-block;
  float: right;
}
