<div class="jukebox">
  <span style="user-select: none;">【音量】</span>
  <div class="volume-area">
    <span (dblclick)="toggleMute('audition')" [innerHTML]="auditionLabel" [title]="getTooltip('audition')" (mouseover)="showTooltip('audition')" (mouseout)="hideTooltip('audition')"></span>
    <input [(ngModel)]="auditionVolume" type="range" min="0" max="1" step="0.01" style="width: 75%;"/>
    <input type="text" [(ngModel)]="percentAuditionVolume" (input)="updateAuditionVolume()" style="width: 25px;"/>%
  </div>
  <div class="volume-area" >
    <span (dblclick)="toggleMute('bgm')" [innerHTML]="bgmLabel" [title]="getTooltip('bgm')" (mouseover)="showTooltip('bgm')" (mouseout)="hideTooltip('bgm')" ></span>
    <input [(ngModel)]="volume" type="range" min="0" max="1" step="0.01" style="width: 75%;"/>
    <input type="text" [(ngModel)]="percentVolume" (input)="updateVolume()" style="width: 25px;"/>%
  </div>
  <div class="volume-area" >
    <span (dblclick)="toggleMute('se')" [innerHTML]="seLabel" [title]="getTooltip('se')" (mouseover)="showTooltip('se')" (mouseout)="hideTooltip('se')"></span>
    <input [(ngModel)]="seVolume" type="range" min="0" max="1" step="0.01" style="width: 80%;"/>
    <input type="text" [(ngModel)]="percentSEVolume" (input)="updateSeVolume()" style="width: 25px;"/>%
  </div>
  <span class="volume-save-description" style="font-size: 0.8em;">音量設定はブラウザに保存されます。</span>
  <hr/>
  <div *ngIf="isViewer" class="volume-area" >
    <span (dblclick)="toggleMute('room')" [innerHTML]="roomLabel" [title]="getTooltip('room')" (mouseover)="showTooltip('room')" (mouseout)="hideTooltip('room')"></span>
    <input [(ngModel)]="roomVolume" type="range" min="0" max="2" step="0.01" style="width: 75%;"/>
    <input type="text" [(ngModel)]="percentRoomVolume" (input)="updateRoomVolume()" style="width: 25px;"/>%
    <div class="fade-button">
      <button *ngIf="isViewer" (click)="fadeout()" [disabled]="0" >フェードアウト</button><button *ngIf="isViewer" (click)="fadein()" [disabled]="0" >フェードイン</button>
    </div>
    <hr/>
  </div>
  <label *ngIf="!isViewer">
    👁GM&観戦者モードを有効にして開き直すと表示されます。
  </label>
  <div *ngIf="isViewer">
    <ng-container *ngTemplateOutlet="inventoryTab"></ng-container>
  </div>
  <div *ngIf="isViewer">
    <div *ngFor="let audio of filteredAudioList" class="box" (contextmenu)="onContextMenu($event, audio)">
      <div class="audiolist">
        <button *ngIf="audio !== auditionPlayer?.audio || auditionPlayer?.paused" (click)="playAudition(audio)" [disabled]="!audio.isReady" >試聴</button>
        <button *ngIf="audio === auditionPlayer?.audio && !auditionPlayer?.paused" (click)="stopAudition()" [disabled]="!audio.isReady" >停止</button>
        <button *ngIf="audio !== jukebox?.audio" (click)="playBGM(audio)" [disabled]="!audio.isReady" >BGM</button>
        <button *ngIf="audio === jukebox?.audio" (click)="stopBGM(audio)" [disabled]="!audio.isReady" >停止</button>
        <button *ngIf="audio !== seBox?.audio" (click)="playSE(audio)" [disabled]="!audio.isReady" >SE</button>
        <button *ngIf="audio === seBox?.audio" (click)="stopSE(audio)" [disabled]="!audio.isReady" >停止</button>
        <span *ngIf="audio === auditionPlayer?.audio && !auditionPlayer?.paused">【試聴中】</span>
        <span *ngIf="audio === jukebox?.audio">【BGM】</span>
        <span *ngIf="audio === seBox?.audio">【SE】</span>
        <span>{{audio.name}}</span>
      </div>
    </div>
    <!-- <div *ngIf="audios.length < 1" >アップロードされた音楽ファイルはここに表示されます。</div> -->
  </div>
  <label *ngIf="isViewer">
    <div class="drop-zone">
      <div>
        <i class="material-icons large-font">playlist_add</i>
      </div>
      <div>ここに音楽をドロップ</div>
      <div class="small-font">またはここをクリックして選択</div>
      <input type="file" style="display: none;" (change)="handleFileSelect($event)" multiple accept="audio/*"/>
      <div class="small-font">
        <br>１ファイルにつき10MBまで</div>
    </div>
  </label>
</div>

<ng-template #inventoryTab>
  <form class="is-sticky-top">
    <div class="tab">
      <label>
        <input name="tab" type="radio" value="全て" ng-control="options" [(ngModel)]="selectTab" (change)="updateFilteredAudioList()">
        <div>全て</div>
      </label>
      <label>
        <input name="tab" type="radio" value="BGM" ng-control="options" [(ngModel)]="selectTab" (change)="updateFilteredAudioList()">
        <div>BGM</div>
      </label>
      <label>
        <input name="tab" type="radio" value="SE" ng-control="options" [(ngModel)]="selectTab" (change)="updateFilteredAudioList()">
        <div>SE</div>
      </label>
    </div>
  </form>
</ng-template>
