<ng-container *ngIf="gameDataElement">
  <ng-container *ngIf="gameDataElement.children.length < 1">
    <div *ngIf="isEdit" class="table-cell table-cell_solid">
      <!-- <ng-container *ngTemplateOutlet="editButtons"></ng-container>
      <select (change)="setElementType($event.target.value)" [ngModel]="gameDataElement.type">
        <option value="">通常</option>
        <option value="numberResource">リソース</option>
        <option value="note">ノート</option>
      </select> -->
      <ng-container *ngIf="!isImage">
        <ng-container *ngTemplateOutlet="editButtons"></ng-container>
        <select (change)="setElementType($event.target.value)" [ngModel]="gameDataElement.type ?? ''">
          <option value="">通常</option>
          <option value="simpleNumber">数値</option>
          <option value="check">通常(チェックボックス付)</option>
          <option value="numberResource">リソース</option>
          <option value="note">ノート</option>
        </select>
      </ng-container>
      <ng-container *ngIf="isImage && indexNum>=1">
        <ng-container  *ngTemplateOutlet="editButtonsImageTop"></ng-container>
      </ng-container>
      <ng-container *ngIf="isImage && indexNum<1">
        <ng-container  *ngTemplateOutlet="editButtonsImageMiddle"></ng-container>
      </ng-container>
    </div>
    <div class="table-cell table-cell_solid">
      <ng-container *ngIf="isTagLocked">
        <ng-container *ngIf="!isImage">
          <div style="font-family: Cambria, Georgia; font-size: 0.9rem;">{{name}}</div>
        </ng-container>
      </ng-container>
      <ng-container *ngIf="!isTagLocked">
        <ng-container *ngIf="!isImage">
          <div class="hidden-spacer" style="font-family: Cambria, Georgia; font-size: 0.9rem;">{{name}}</div>
          <input style="width:100%; min-width:10px; font-family: Cambria, Georgia; font-size: 0.9rem;" size="1"
          [(ngModel)]="name" placeholder="Value" />
        </ng-container>
      </ng-container>
    </div>
    <div class="table-cell">
      <ng-container *ngIf="isCommonValue">
        <ng-container *ngIf="isNotApplicable"><span style="font-size: 0.8rem">※適用されません</span></ng-container>
        <ng-container *ngIf="!isNotApplicable">
          <ng-container [ngSwitch]="gameDataElement.name">
            <ng-container *ngSwitchCase="'opacity'">
              <input style="width:90%;" [style]="'font-size: 1.0em; min-width: 90px; width: 90%; --min: 0; --max: ' + value + '; --val:' + currentValue +';' | safe: 'style'"
                [(ngModel)]="currentValue" type="range" title="{{currentValue}}" min="0" max="100" step="1" />
              <br />
              <input style="margin-left: 3.5em; width:4em; text-align:right;" type="number" min="0" max="100" step="1" size="1" [(ngModel)]="currentValue" placeholder="Opacity" /><b class="move" style="font-size: small">%</b>
            </ng-container>
            <ng-container *ngSwitchCase="'color'">
              <ng-container *ngIf="gameDataElement.type === 'colors'">
                <label class="color-sample" style="padding: 0px 2px 0px 0xp; width: 6.5em" [style.color]="value" [style.background-color]="currentValue"><input type="color" style="width: 1em" [(ngModel)]="value" /><div style="display: inline-block; box-sizing: border-box; width: calc(100% - 1em); text-align: center">{{value}}</div></label>
                <label class="color-sample" style="padding: 0px 2px 0px 0xp; width: 7.5em" [style.color]="value" [style.background-color]="currentValue"><input type="color" style="width: 1em" [(ngModel)]="currentValue" /><div style="display: inline-block; box-sizing: border-box; width: calc(100% - 1em); text-align: center">({{currentValue}})</div></label>
              </ng-container>
              <ng-container *ngIf="gameDataElement.type === 'color'">
                <label class="color-sample" style="padding: 0px 2px 0px 0xp; width: 6.5em" [style.color]="value"><input type="color" style="width: 1em" [(ngModel)]="value" />{{value}}</label>
              </ng-container>
            </ng-container>
            <ng-container *ngSwitchDefault>
              <input style="width:90%;" [style]="'font-size: 1.0em; min-width: 90px; width: 90%; --min: 0; --max: ' + value + '; --val:' + currentValue +';' | safe: 'style'"
                [(ngModel)]="value" type="range" title="{{value}}" min="{{name === 'altitude' ? -12 : name === 'fontsize' ? 1 : 0}}" max="{{name === 'fontsize' ? 128 : 12}}" step="{{name === 'fontsize' ? 1 : 0.5}}" />
              <br />
              <input style="width:35%; max-width:4em; text-align:right;" type="number" min="{{name === 'altitude' ? -24 : name === 'fontsize' ? 1 : 0}}" step="{{name === 'fontsize' ? 1 : 0.1}}" size="1" [(ngModel)]="value" placeholder="Value" />
              <dev *ngIf="descriptionType === 'character' && name === 'height'" style="color: #444; font-family: Cambria, Georgia; font-size: 0.9rem; display: inline-block; margin-left: 3px"><label><input type="checkbox" [(ngModel)]="currentValue" checked="{{currentValue ? 'checked' : ''}}" (change)="currentValue = (currentValue ? name : '')">× size</label></dev>
            </ng-container>
          </ng-container>
        </ng-container>
      </ng-container>
      <ng-container *ngIf="!isCommonValue">
        <ng-container [ngSwitch]="gameDataElement.type">
        <ng-container *ngSwitchCase="'simpleNumber'">
            <!-- size属性がないと小さくならない -->
            <div class="hidden-spacer" style="font-size: 1.0em; font-family: Cambria, Georgia;">{{value}}</div>
            <input [type]="(value && value == +value) ? 'number' : 'text'" style="width:100%; max-width:8em; text-align:right;" size="1" [(ngModel)]="value" placeholder="Number" />
          </ng-container>
          <ng-container *ngSwitchCase="'numberResource'">
            <input [style]="'font-size: 1.0em; min-width: 90px; width: 90%; --min: 0; --max: ' + value + '; --val:' + currentValue +';' | safe: 'style'"
              [(ngModel)]="currentValue" type="range" min="0" max="{{value}}" />
            <br>
            <input style="width: 5em; text-align: right;" size="1" type="number" [(ngModel)]="currentValue" placeholder="Value" />
            /
            <input style="width: 5em;" size="1" type="number" [(ngModel)]="value" placeholder="Value" />
          </ng-container>
          <ng-container *ngSwitchCase="'note'">
            <textarea style="width:100%; height:5em; min-width:50px; resize: none; font-size: 0.8em;" [(ngModel)]="value" placeholder="Note"></textarea>
          </ng-container>
          <ng-container *ngSwitchDefault>
            <ng-container *ngIf="!isImage">
              <div class="hidden-spacer" style="font-size: 1.0em; font-family: Cambria, Georgia;">{{value}}</div>
              <input style="width:100%; min-width:10px;" size="1" [(ngModel)]="value" placeholder="Value" />
            </ng-container>
            <ng-container *ngIf="isImage">
              <div class="table-2" ><!--style="background:#AAA;"-->
                <div class="table-cell-2 sub-image-box">
                  <img *ngIf="imageFileUrl" class="sub-image" [src]="imageFileUrl | safe: 'resourceUrl'" [alt]="gameDataElement.value"/>
                </div>
                <div class="table-cell-2 sub-table">
                  <span>立ち絵番号{{indexNum}}: </span>
                  <button class="tachie-button" (click)="openModal('imageIdentifier', true)" style="font-size:1.0em;">画像変更</button>
                </div>
              </div>
              </ng-container>
          </ng-container>
        </ng-container>
      </ng-container>
    </div>
  </ng-container>
  <ng-container *ngIf="0 < gameDataElement.children.length">
    <div *ngIf="isEdit" class="table-cell table-cell_solid" style="vertical-align: top;">
      <ng-container *ngIf="isImage">
        <ng-container *ngTemplateOutlet="editButtonsImageTitle"></ng-container>
      </ng-container>
      <ng-container *ngIf="!isImage">
        <ng-container *ngTemplateOutlet="editButtons"></ng-container>
      </ng-container>
    </div>
    <div class="table-cell table-cell_inner-table" style="padding:0; width:0;"></div>
    <div class="table-cell_inner-table">
      <div class="table-cell_inner-table-title">
        <ng-container *ngIf="isTagLocked">
          <div style="padding: 2px; font-family: Cambria, Georgia; font-size: 1.0rem; font-weight: bold;">{{name}}</div>
        </ng-container>
        <ng-container *ngIf="!isTagLocked">
          <input style="width:100%; min-width:10px; font-family: Cambria, Georgia; font-size: 1.0rem; font-weight: bold;"
            size="1" [(ngModel)]="name" placeholder="Value" />
        </ng-container>
      </div>
      <div class="table" *ngIf="0 < gameDataElement.children.length">
        <div game-data-element class="table-row" *ngFor="let childElement of gameDataElement.children; let i = index;"
            [gameDataElement]="childElement" [isEdit]="isEdit" [isTagLocked]="isTagLocked"  [isImage]="isImage" [indexNum]="i"></div>
      </div>
    </div>
  </ng-container>
</ng-container>
<ng-template #editButtons>
  <button (click)="addElement()"><i class="material-icons">add_circle</i></button>
  <button (click)="upElement()"><i class="material-icons">arrow_upward</i></button>
  <br>
  <button (click)="deleteElement()"><i class="material-icons">remove_circle_outline</i></button>
  <button (click)="downElement()"><i class="material-icons">arrow_downward</i></button>
</ng-template>


<ng-template #editButtonsImageTop>
  <button class="dummy" style = "visibility:hidden"><i class="material-icons">remove_circle_outline</i></button>
  <button (click)="upElement()"><i class="material-icons">arrow_upward</i></button>
  <br>
  <button (click)="deleteImageElement();"><i class="material-icons">remove_circle_outline</i></button>
  <button (click)="downElement()"><i class="material-icons">arrow_downward</i></button>
</ng-template>
<ng-template #editButtonsImageMiddle>
  <button class="dummy" style = "visibility:hidden"><i class="material-icons">remove_circle_outline</i></button>
  <button (click)="upElement()"><i class="material-icons">arrow_upward</i></button>
  <br>
  <button class="dummy" style = "visibility:hidden"><i class="material-icons">remove_circle_outline</i></button>
  <button (click)="downElement()"><i class="material-icons">arrow_downward</i></button>
</ng-template>
<ng-template #editButtonsImageTitle>
  <button (click)="addImageElement()"><i class="material-icons">add_circle</i></button>
</ng-template>
